# Loop Assignment

### 1. Write a Python program to print the numbers from 1 to 10 using a for loop.

In [1]:
for a in range(10):
    print(a+1)

1
2
3
4
5
6
7
8
9
10

### 2. Write a Python program to print the numbers from 20 to 1 using a while loop.

In [3]:
count = 20
while count > 0:
    print(count)
    count -= 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

### 3. Write a program to print even numbers from 1 to 10.

In [4]:
for i in range(2,101,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### 4. Write a program that prompts the user to enter a number n and prints all the number from 1 to n.

In [7]:
n = int(input("Enter a number"))
for i in range (1,n+1):
    print(i)

Enter a number 7

1
2
3
4
5
6
7

### 5. Write a program that prompts the user to enter a number n, and then prints all the odd number between 1 to n..

In [8]:
n = int(input("Enter a number"))
for i in range (1,n+1,2):
    print(i)

Enter a number 7

1
3
5
7

### 6. Write a program that prints 'Happy Birthday!' five times on screen.

In [10]:
for i in range(5):
    print(i+1,"Happy Birthday!")

1 Happy Birthday!
2 Happy Birthday!
3 Happy Birthday!
4 Happy Birthday!
5 Happy Birthday!

### 7. Write a program that takes a number n as input from the user and generates the first n terms of the series formed by squaring the natural numbers.

In [14]:
n = int(input("Enter a number"))
for i in range (1,n+1):
    print(i*i)

Enter a number 5

1
4
9
16
25

### 8. Write a program that prompts the user to input a number and prints its multiplication table

In [16]:
n = int(input("Enter a number"))
for i in range (1,11):
    print(f"{n} * {i} = {n * i}")

Enter a number 4

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

### 9. Write a Python program to print the first 8 terms of an arithmetic progression starting with 3 and having a common difference of 4.

In [18]:
a = 3
d= 4
n =8
for i in range(1,n+1):
    print( a+(i-1)*d , end=",")

3,7,11,15,19,23,27,31,

### 10. Write a Python program to print the first 6 terms of a geometric sequence starting with 2 and having a common ratio of 3.

In [19]:
a = 2
r =3
n=6
for i in range(1,n+1):
    print(a * (r)**(i-1))

2
6
18
54
162
486

### 11. Write a program that asks the user for a positive integer value. The program should calculate the sum of all the integers from 1 up to the number entered. For example, if the user enters 20, the loop will find the sum of 1, 2, 3, 4, ... 20.

In [22]:
n = int(input("Enter a number"))
sum = 0
for i in range (1,n+1):
    sum += i
print(sum)

Enter a number 3

6

### 12. write a program that takes a positive integer N as input and calculates the sum of the reciprocals of all numbers from 1 up to N. The program should display the final sum..

In [29]:
n = int(input("Enter a number"))
sum = 0.0
for i in range (1,n+1):
    sum += 1/i
print(round(sum,2))

Enter a number 5

2.28

### 13. Write a program that prompts the user to enter a number and repeats this process times. The program should accumulate the numbers entered andd then displa the final running total

In [32]:
userinput = [int(input(f"Enter number {i}"))  for i in range(1,6)  ]
total = 0
for num in userinput:
    total += num
print(total)

Enter number 1 10
Enter number 2 15
Enter number 3 35
Enter number 4 40
Enter number 5 50

150

### 14. Write a program that prompts the user to enter a positive integer and calculates its 
factorial. The factorial of a positive integer 'n' is denoted as 'n!' and is calculated by 
multiplying all the integers from 1 to 'n' together. For example, the factorial of 5 
(denoted as 5!) is calculated as 1 x 2 x 3 x 4 x 5. 
The program should display the factorial value if the input is a positive number, or 
display a message stating that the factorial does not exist for negative numbers. 
Additionally, for an input of zero, the program should output that the factorial of 0 is 1.

In [38]:
n = int(input("Enter a number"))
if n == 0:
    print(f"0! = 1")
elif n < 0:
    print(f"Factorial does not exist for negative number")
else:
    factorial =1
    for i in range(n,0,-1):
        factorial *= i
    print(f"{n}! = {factorial}")

Enter a number 5

5! = 120

### 15. Write a Python program that prompts the user to enter a base number and an exponent, and then calculates the power of the base to the exponent. . The progra should not use the exponentiation operator (**) or the math.pow() function. The program should handle both positive and negative exponents.ts.

In [46]:
n = int(input("Enter a number"))
exp = int(input("Enter exponent"))
result =1
for i in range(1,exp+1):
    result *= n
print(result)

Enter a number -3
Enter exponent 3

-27

In [3]:
names=["ali","raza","bilal","ahmed"]

def display_message():
    for name in names:
        if name.lower().startswith("a"):
            print(f"mere dost {name}")

In [4]:
display_message()

mere dost ali
mere dost ahmed